<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<body class = "text-center">
  <h1 class= "cover-heading" style="color:rgb(255, 115, 0)" >Welcome to SnAppy Parking!</h1>
  <h3>Login: </h3><br>
  <div>
        <%= form_tag sessions_path do %>
        <table class = "center">
         
          <tbody>
              <tr>
                <td><%= label :user, :user_name %></td>
                <td><%= text_field :user, :user_name %></td>
              </tr>
              <tr>
                <td><%= label :user, :password %></td>  
                <td><%= password_field :user, :password %></td>
              </tr>
          </tbody>
        </table><br>
        <button type="submit" class="btn btn-danger text-uppercase " >Login</button>
        <% end %>
  </div>
  
 </body>

</div>
</div>
</div>;