<%= link_to "Create User", new_user_path %>
<h1>Login</h1>
<%= form_tag sessions_path do %>
  <%= label :user, :user_name %>
  <%= text_field :user, :user_name %>
  <%= label :user, :password %>
  <%= password_field :user, :password %>
  <%= submit_tag "Login" %>
<% end %>

<%= link_to "Home", root_path %>
