<body>

  <h2>Login: </h2>
  <div>
        <%= form_tag sessions_path do %>
            <h3><%= label :user, :user_name %></h3>
            <%= text_field :user, :user_name %>
            <h3><%= label :user, :password %></h3>
            <%= password_field :user, :password %><br>
            <%= submit_tag "Login" %>
        <% end %>
  </div>
  
  </body>

