<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">


<body class = "text-center" data-gr-c-s-loaded= "true">

  <h1><%= "Hi, #{current_user.user_name}!"%></h1>
  <p class= "lead"> Please change any information you wish to update below:</p>

<% if @user.errors.full_messages.length > 0 %>
  <h2><%= pluralize(@user.errors.full_messages.length , "error") %> prohibited this car from being registered:</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for(@user) do |f| %>
  <table class = "center">
    <tbody>
      <tr>
        <td><%= f.label :username %>:</td>
        <td><%= f.text_field :user_name %></td>
      </tr>
      <tr>
        <td><%= f.label :first_name %>:</td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= f.label :last_name %>:</td>
        <td> <%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <td><%= f.label :email %>:</td>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <td><%= f.label :password %>:</td>
        <td><%= f.password_field :password %></td>
      </tr>
    </tbody>
  </table><br>
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small><br>
  <button type="submit" class="btn btn-danger text-uppercase ">Edit User</button>
  <% end %>
</body>


</div>
</div>
</div>