<div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
<h1>Car Information:</h1>
    <ul>
        <li> Make: <%=@car_user.car.make%></li>
        <li> Model: <%=@car_user.car.model%></li>
        <li> Colour: <%=@car_user.car.colour%></li>
        <li> Registration Plate: <%=@car_user.car.registration_plate%></li>
    </ul>
        <% if @car_user.tickets.count >= 1 %>

    <h3>Active Tickets:</h3>
        <ul>
            <% @car_user.active_tickets.each do |ticket| %>
                <li><%= link_to "#{ticket.space.street_name}, Purchased - #{ticket.created_at.strftime("%B %d, %Y at %H:%M")}", ticket_path(ticket.id) %></li>
            <%end%>
        </ul>


    <h3>Recentley Expired Tickets:</h3>
            <ul>
                <% @car_user.expired_tickets.each do |ticket| %>
                    <li><%= link_to "#{ticket.space.street_name}, Purchased - #{ticket.created_at.strftime("%B %d, %Y at %H:%M")}, Expired - #{ticket.expiration.strftime("%B %d, %Y at %H:%M")}", ticket_path(ticket.id) %></li>
                <%end%>
            </ul>
        <% else %>
            <%= "You have no recent tickets" %>
        <% end %>


 <%= link_to '<button type="button" class="btn btn-danger text-uppercase ">Back</button>'.html_safe, user_path(current_user) %>
 <%= link_to '<button type="button" class="btn btn-danger text-uppercase ">Purchase a ticket</button>'.html_safe, parking_zones_path %>

</div>
</div>
</div>

