
<h1>Parking Details:</h1>
<%=@space.parking_zone.area_name%><br>
<%=@space.street_name%><br>
<%=@space.post_code%><br>
<%=@space.parking_zone.tariff_per_hour%><br>
<%=@space.operational_hours%><br>


<%= form_for(@ticket) do |f| %>
<div class="form-group">
<%= f.label :hours_purchased %>
<%= f.select :hours_purchased, (1..12) %><br>
</div>
<div class="form-group">

<%= collection_select :car, :car_id, @user.cars, :id, :registration_plate  %>
<%= f.hidden_field :space_id, value: @space.id.to_i %>
</div>

<%= f.submit class: "btn btn-primary" %>
<%end%>

<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@space.latitude},#{@space.longitude}&key=AIzaSyCCdJ-p2T1Q_9ZTt2DDn5fNJJWVMumwsHY", alt: "Map" %>
</p>

<%= link_to 'Back', parking_zone_path(@space.parking_zone.id) %>


