<h1>Parking Details:</h1>
<%=@space.parking_zone.area_name%><br>
<%=@space.street_name%><br>
<%=@space.post_code%><br>
<%=@space.parking_zone.tariff_per_hour%><br>
<%=@space.operational_hours%><br>


<%= form_for(@ticket) do |f| %>
<%= f.label :hours_purchased %>
<%= f.select :hours_purchased, (1..12) %><br>
<%= collection_select :car, :car_id, @user.cars, :id, :registration_plate  %>
<%= f.hidden_field :space_id, value: @space.id.to_i %>
<%= f.submit %>
<%end%>
