<!DOCTYPE html>
<html>
  <head>
    <title>SnAppy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if flash[:notice] %>
      <h3><%= flash[:notice]%></h3>
    <% end %>

  <body >
     <% if current_user %>
     <div class="custom-padding">
    <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  </a>
</nav>
    </div>
    <% else %>
    <div class="custom-padding">
      <nav>
        <div class="logo">SnAppy</div>
    
        <ul class="menu-area">
          <li><a href="/">Home</a></li>
          <li><%= link_to "Login", new_session_path %></li>
          
        </ul>
      </nav>
    <% end %>
    <%= yield %>
  </body >
</html>




