<!DOCTYPE html>
<html>
  <head>
    <title>SnAppy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if flash[:notice] %>
      <h3><%= flash[:notice]%></h3>
    <% end %>

  <body>
     <% if current_user %>
      <nav><h2>Hi, <%= current_user.user_name %>!</h2></nav>
      <nav><%= link_to "Logout", sessions_path, method: :delete %></nav>
      <nav><%= link_to 'Purchase a ticket', parking_zones_path %></nav> 
      <nav><%= link_to 'Edit User', edit_user_path(current_user.id)%>

    <% else %>
      <nav><%= link_to "Login", new_session_path %></nav>
    <% end %>
    <%= yield %>
  </body>
</html>




